@import url("https://fonts.googleapis.com/css?family=Nunito:600");
@font-face {
  font-family: 'Futura Medium';
  src: url("../fonts/futura-medium.ttf"); }
@font-face {
  font-family: 'Futura Bold';
  src: url("../fonts/futura-heavy.ttf"); }
@font-face {
  font-family: 'Futura Light';
  src: url("../fonts/futura-light.ttf"); }
.header {
  background-color: #000;
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden; }
  .header p {
    color: #fff; }
  .header .color-indicator {
    margin: 0 5px; }
  .header .project-list {
    position: relative;
    z-index: 20;
    margin-top: 50px;
    margin-left: 50px; }
    .header .project-list p {
      letter-spacing: 1px; }
  .header .header-content {
    width: 100vw;
    margin-top: -100vh; }

.harp {
  text-align: center;
  width: 50%;
  min-width: 290px;
  margin: 0 auto;
  margin-top: -230px;
  position: relative;
  z-index: 11; }

.harp-circle-background {
  background-image: url("../img/home-screen-bg.png");
  min-height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10; }

.your-chords {
  width: 150px;
  height: 90px;
  border-radius: 10px;
  background: #000;
  padding-top: 5px;
  float: right;
  margin-right: 50px;
  position: relative;
  z-index: 20; }

.chord {
  border: 4px solid #242424; }

.string {
  width: 0;
  display: block;
  margin: 0 auto;
  min-height: 110vh; }

.string-1 {
  border: 4px solid #591f49; }

.string-2 {
  border: 4px solid #902745; }

.string-3 {
  border: 4px solid #c63643; }

.string-4 {
  border: 4px solid #eb5a3a; }

.string-5 {
  border: 4px solid #ecb730; }

.string {
  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat; }

.vibrate {
  -webkit-animation: vibration 0.3s; }

.vibrate-2 {
  -webkit-animation: vibration2 0.3s; }

@-webkit-keyframes vibration {
  0% {
    left: -5px;
    top: -5px; }
  12.5% {
    left: 5px;
    top: 0px; }
  25.0% {
    left: -5px;
    top: 5px; }
  37.5% {
    left: 0px;
    top: -5px; }
  50.0% {
    left: 0px;
    top: 5px; }
  62.5% {
    left: 5px;
    top: -5px; }
  75.0% {
    left: -5px;
    top: 0; }
  87.5% {
    left: 5px;
    top: 5px; }
  100% {
    left: 0px;
    top: 5px; } }
@-webkit-keyframes vibration2 {
  0% {
    margin-left: -10px;
    margin-top: -10px; }
  12.5% {
    margin-left: 10px;
    margin-top: 0px; }
  25.0% {
    margin-left: -10px;
    margin-top: 10px; }
  37.5% {
    margin-left: 0px;
    margin-top: -10px; }
  50.0% {
    margin-left: 0px;
    margin-top: 10px; }
  62.5% {
    margin-left: 10px;
    margin-top: -10px; }
  75.0% {
    margin-left: -10px;
    margin-top: 0; }
  87.5% {
    margin-left: 10px;
    margin-top: 10px; }
  100% {
    margin-left: 0px;
    margin-top: 10px; } }
@media (max-width: 950px) {
  .header .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important; }
  .header .your-chords {
    font-size: 12px;
    height: 80px; }
  .header .project-list {
    margin-left: 20px;
    margin-top: 30px;
    width: 210px;
    background-color: #000;
    border-radius: 10px;
    padding: 10px; }
    .header .project-list p {
      font-size: 12px; } }
@media (max-width: 830px) {
  .header .harp {
    width: 40%; }
  .header .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important; }
  .header .your-chords {
    font-size: 12px;
    height: 80px; }
  .header .project-list {
    margin-left: 20px;
    margin-top: 30px;
    width: 210px;
    background-color: #000;
    border-radius: 10px;
    padding: 10px; }
    .header .project-list p {
      font-size: 12px; } }
.project {
  width: 100vw;
  min-height: 100vh;
  padding-top: 20px;
  padding-left: 20px;
  background-color: #242424;
  overflow: hidden;
  transition: 0.2s; }
  .project p {
    color: #fff;
    font-size: 60px; }
  .project .close-button {
    font-family: 'Nunito', sans-serif;
    color: #fff;
    font-size: 50px;
    position: absolute;
    top: 10px;
    right: 50px; }

body {
  margin: 0;
  padding: 0;
  font-family: "Futura Medium"; }

.uppercase {
  text-transform: uppercase; }

.center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura Bold"; }

p {
  font-family: "Futura Medium"; }

.invisible {
  display: none; }

/*# sourceMappingURL=app.css.map */
