@import url("https://fonts.googleapis.com/css?family=Nunito:600");
@font-face {
  font-family: 'Futura Medium';
  src: url("../fonts/futura-medium.ttf"); }
@font-face {
  font-family: 'Futura Bold';
  src: url("../fonts/futura-heavy.ttf"); }
@font-face {
  font-family: 'Futura Light';
  src: url("../fonts/futura-light.ttf"); }
@font-face {
  font-family: 'Futura Condensed';
  src: url("../fonts/futura-medium-condensed.ttf"); }
.header {
  background-color: #000;
  background-size: 100vw;
  background-repeat: no-repeat;
  height: 100vh;
  overflow: hidden; }
  .header p {
    color: #fff; }
  .header .color-indicator {
    margin: 0 5px; }
  .header .project-list {
    position: relative;
    pointer-events: none;
    z-index: 20;
    margin-top: 20px;
    margin-left: 50px; }
    .header .project-list p {
      letter-spacing: 1px; }
  .header .header-content {
    width: 100vw;
    margin-top: -100vh; }

.harp {
  text-align: center;
  width: 50%;
  min-width: 290px;
  margin: 0 auto;
  margin-top: -450px;
  position: relative;
  z-index: 9; }

.logo {
  margin-top: 20px;
  margin-left: 50px;
  position: relative;
  z-index: 110;
  width: 140px; }
  .logo img {
    width: 100%; }

.harp-circle-background {
  background-image: url("../img/home-screen-bg.png");
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 10;
  pointer-events: none; }

.your-chords {
  width: 150px;
  height: 90px;
  border-radius: 10px;
  background: #000;
  padding-top: 5px;
  float: right;
  margin-right: 50px;
  margin-top: 20px;
  position: relative;
  z-index: 20; }

.chord {
  border: 4px solid #242424; }

.string {
  width: 0;
  display: block;
  margin: 0 auto;
  height: 110vh; }

.string-1 {
  border: 4px solid #591f49; }

.string-2 {
  border: 4px solid #902745; }

.string-3 {
  border: 4px solid #c63643; }

.string-4 {
  border: 4px solid #eb5a3a; }

.string-5 {
  border: 4px solid #ecb730; }

.project-list-mobile {
  display: none;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 100;
  width: 100vw !important;
  background-color: #000;
  padding: 20px 0;
  margin-left: 0 !important;
  margin-top: -135px !important;
  overflow-x: scroll !important;
  pointer-events: all !important; }
  .project-list-mobile .project-mobile-inner {
    width: 2300px; }
  .project-list-mobile p {
    display: inline;
    margin: 0 15px; }

::-webkit-scrollbar {
  display: none; }

.right-button {
  display: none !important;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 14px;
  z-index: 200;
  background-color: #000; }
  .right-button i {
    color: #fff;
    font-size: 25px;
    display: inline-flex; }
  .right-button .right-2 {
    margin-left: -10px; }

.string {
  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat; }

.vibrate {
  -webkit-animation: vibration 0.3s; }

.vibrate-2 {
  -webkit-animation: vibration2 0.3s; }

@-webkit-keyframes vibration {
  0% {
    left: -5px;
    top: -5px; }
  12.5% {
    left: 5px;
    top: 0px; }
  25.0% {
    left: -5px;
    top: 5px; }
  37.5% {
    left: 0px;
    top: -5px; }
  50.0% {
    left: 0px;
    top: 5px; }
  62.5% {
    left: 5px;
    top: -5px; }
  75.0% {
    left: -5px;
    top: 0; }
  87.5% {
    left: 5px;
    top: 5px; }
  100% {
    left: 0px;
    top: 5px; } }
@-webkit-keyframes vibration2 {
  0% {
    margin-left: -10px;
    margin-top: -10px; }
  12.5% {
    margin-left: 10px;
    margin-top: 0px; }
  25.0% {
    margin-left: -10px;
    margin-top: 10px; }
  37.5% {
    margin-left: 0px;
    margin-top: -10px; }
  50.0% {
    margin-left: 0px;
    margin-top: 10px; }
  62.5% {
    margin-left: 10px;
    margin-top: -10px; }
  75.0% {
    margin-left: -10px;
    margin-top: 0; }
  87.5% {
    margin-left: 10px;
    margin-top: 10px; }
  100% {
    margin-left: 0px;
    margin-top: 10px; } }
@media (max-width: 950px) {
  .header .row {
    width: 100%;
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important; }
  .header .logo {
    margin-left: 15px; }
  .header .harp {
    margin-top: -200px; }
  .header .your-chords {
    font-size: 12px;
    height: 80px;
    margin-top: 15px;
    margin-right: 15px; }
  .header .project-list {
    display: none; }
  .header .project-list-mobile {
    display: block; }
  .header .right-button {
    display: block !important; } }
@media (max-width: 830px) {
  .header .harp {
    width: 70%; }
  .header .row {
    margin-right: 0 !important;
    margin-left: 0 !important;
    padding: 0 !important; }
    .header .row .col-xs-2 {
      margin-top: -100px !important; }
  .header .your-chords {
    font-size: 12px;
    height: 80px; } }
@media (max-width: 450px) {
  .header .logo {
    width: 100px; }

  .project-list-mobile p {
    font-size: 12px; } }
.project {
  width: 100vw !important;
  min-height: 100vh;
  background-color: #000;
  overflow: hidden;
  transition: 0.2s; }
  .project p {
    color: #fff; }
  .project .navbar {
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    background: -webkit-linear-gradient(#353535, #141414);
    background: -o-linear-gradient(#353535, #141414);
    background: linear-gradient(#353535, #141414); }
    .project .navbar .logo-project {
      margin-left: 20px !important;
      margin-top: 10px !important; }
      .project .navbar .logo-project img {
        width: 80%; }
    .project .navbar .close-button {
      font-family: 'Nunito', sans-serif;
      color: #fff;
      font-size: 50px;
      position: absolute;
      top: -10px;
      right: 20px; }
  .project .project-info {
    padding: 20px 15px 40px 15px;
    margin-top: 60px;
    background: #2a2a2a;
    color: #fff; }
    .project .project-info .row {
      width: 80%;
      margin: 0 auto; }
    .project .project-info .light-gray {
      color: #a2a2a2; }
    .project .project-info .title h1 {
      font-size: 32px;
      font-family: "Futura Condensed";
      letter-spacing: 1px; }
  .project .project-images {
    width: 100vw; }
    .project .project-images img {
      width: 100%;
      margin-top: 12px; }

@media (max-width: 1100px) {
  .project .project-info .row {
    width: 100%; } }
body {
  margin: 0;
  padding: 0;
  font-family: "Futura Medium"; }

.uppercase {
  text-transform: uppercase; }

.center {
  text-align: center; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Futura Bold"; }

p {
  font-family: "Futura Medium"; }

.invisible {
  display: none; }

.light {
  font-family: "Futura Light"; }

.light-gray {
  color: #a2a2a2; }

/*# sourceMappingURL=app.css.map */
