

.header {
  background-color: $black;
  // background-image: url('../img/home-screen-bg.png');
  background-size: 100vw;
  background-repeat: no-repeat;
  // padding-top: 20px;
  // padding-left: 50px;
  // padding-bottom: 100px;
  min-height: 470px;
  height: 100vh;
  overflow: hidden;
  // margin-top: -100vh;
  p {
    color: $white;
  }
  .color-indicator {
    margin: 0 1px;
    display: inline-block;
    width: 6px !important;
    height: 15px !important;
    line-height: 10px;
    position: relative !important;
    z-index: 100 !important;
  }
  .project-list {
    position: relative;
    pointer-events: none;
    z-index: 20;
    margin-top: 5px;
    margin-left: 20px;
    p {
      letter-spacing: 1px;
      display: inline;
      line-height: 2.1;
      margin-right: 5px;
    }
  }
  .header-content {
    width: 100vw;
    margin-top: -100vh;
  }
}

.harp {
  text-align: center;
  width: 50%;
  min-width: 290px;
  margin: 0 auto;
  margin-top: -450px;
  position: relative;
  z-index: 9;
  -ms-transform: rotate(-4deg); /* IE 9 */
  -webkit-transform: rotate(-4deg); /* Safari */
  transform: rotate(-4deg);
}



.logo {
  margin-top: 20px;
  margin-left: 20px;
  position: relative;
  z-index: 110;
  // pointer-events: none;
  width: 140px;
  img {
    width: 100%;
  }
}

// .harp-circle {
//   // background-color: $black;
//   // background-image: url('../img/home-screen-bg.png');
//   width: 100vw;
//   height: auto;
//   position: relative;
//   z-index: 10;
// }

.harp-circle-background {
  // background-color: $black;
  background-image: url('../img/home_screen_background_extra_space_1.png');
  height: 100vh;
  min-height: 470px;
  // min-height: 620px;
  background-position: center center !important;
  background-size: cover;
  position: relative;
  z-index: 10;
  pointer-events: none;
}

.your-chords {
  width: 160px;
  height: 80px;
  border-radius: 5px;
  background: $black;
  // position: absolute;
  float: right;
  text-align: center;
  margin-right: 20px;
  margin-top: 0px;
  // margin-top: 10px;
  position: relative;
  z-index: 20;
  p {
    letter-spacing: 2px;
    text-align: center;
    margin-right: -5px;
    margin-top: 10px;
  }
}

.color-indicator.chord {
  background-color: $dark-gray;
  height: 30px !important;
  width: 10px !important;
  margin: -5px 8px 0 8px;
}

.string-container {
  width: 50px;
  display: block;
  margin: 0 auto;
  cursor:pointer !important;
}

@media (max-width: 500px) {
  .string-container {
    width: 30px;
  }
}

.string {
  width: 0 !important;
  display: block;
  margin: 0 auto;
  // min-height: 650px;
  height: 110vh;
  cursor:pointer !important;
  transition: 0.4s;
}
.string-1 {
  border: 5px solid $purple;
  background-color: $purple;
}
.string-2 {
  border: 5px solid $pink;
  background-color: $pink;
}
.string-3 {
  border: 5px solid $red;
  background-color: $red;
}
.string-4 {
  border: 5px solid $orange;
  background-color: $orange;
}
.string-5 {
  border: 5px solid $yellow;
  background-color: $yellow;
}

.dark {
  // border-color: $dark-purple;
  // background-color: $dark-purple;
  opacity: 0.5;
  transition: 0.4s;
}


.string-1-color {
  background-color: $purple;
}
.string-2-color {
  background-color: $pink;
}
.string-3-color {
  background-color: $red;
}
.string-4-color {
  background-color: $orange;
}
.string-5-color {
  background-color: $yellow;
}



.project-list-mobile-container {
  // position: relative;
  // margin-top: 10px;
  width: 100vw;
  position: absolute;
  bottom: 0;
  left: 0;
  display: none;
}

.project-list-mobile {
  display: none;
  position: absolute !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 100;
  width: 95vw !important;
  // background-color: $black;
  background:
      -webkit-linear-gradient(rgba(53, 53, 53, 0), rgba(20, 20, 20, 1));
  background:
      -o-linear-gradient(rgba(53, 53, 53, 0), rgba(20, 20, 20, 1));
  background:
      linear-gradient(rgba(53, 53, 53, 0), rgba(20, 20, 20, 1));
  padding: 10px 0 0 0;
  margin-left: 0 !important;
  margin-top: -135px !important;
  overflow-x: scroll !important;
  pointer-events: all !important;
  .project-mobile-inner {
    width: 2100px;
  }
  p {
    display: inline;
    margin: 0 15px;
  }
}

::-webkit-scrollbar {
      display: none;
   }

.right-button {
  display: none !important;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 12px 0 5px 0;
  z-index: 200;
  width: 5vw;
  // background-color: $black;
  background:
      -webkit-linear-gradient(rgba(53, 53, 53, 0), rgba(20, 20, 20, 1));
  background:
      -o-linear-gradient(rgba(53, 53, 53, 0), rgba(20, 20, 20, 1));
  background:
      linear-gradient(rgba(53, 53, 53, 0), rgba(20, 20, 20, 1));
  // margin-top: -135px !important;
  i {
    color: $white;
    font-size: 22px;
    display: inline-flex;
  }
  .right-2 {
    margin-left: -10px;
  }
}


@media (min-width: 730px) {
  .right-button {
    i {
      margin-left: 10px;
    }
  }
}

@media (max-width: 767px) {
  .project-list-mobile {
    width: 94vw !important;
  }
  .right-button {
    width: 5vw;
    text-align: right;
    padding: 15px 1vw 5px 0 !important;
  }
}




@media (max-width: 530px) {
  .project-list-mobile {
    width: 92vw !important;
  }
  .right-button {
    width: 7vw;
    text-align: right;
    padding: 15px 1vw 5px 0 !important;
  }
}

@media (max-width: 400px) {
  .project-list-mobile {
    width: 88vw !important;
  }
  .right-button {
    width: 11vw;
    text-align: right;
    padding: 15px 1vw 5px 0 !important;
  }
}






// Sandbox


.string {
  position: relative;
  display: inline-block;
  background-position: center center;
  background-repeat: no-repeat;
}

.vibrate {
  -webkit-animation: vibration 0.3s;
}

.vibrate-2 {
  -webkit-animation: vibration2 0.3s;
}

$moveBy: 5px;

$moveBy2: 10px;

@-webkit-keyframes vibration {
  0%     {left:-$moveBy; top:-$moveBy;}
  12.5%  {left:$moveBy; top:0px;}
  25.0%  {left:-$moveBy; top:$moveBy;}
  37.5%  {left:0px; top:-$moveBy;}
  50.0%  {left:0px; top:$moveBy;}
  62.5%  {left:$moveBy; top:-$moveBy;}
  75.0%  {left:-$moveBy; top:0;}
  87.5%  {left:$moveBy; top:$moveBy;}
  100%   {left:0px; top:$moveBy;}
}

@-webkit-keyframes vibration2 {
  0%     {margin-left:-$moveBy2; margin-top:-$moveBy2;}
  12.5%  {margin-left:$moveBy2; margin-top:0px;}
  25.0%  {margin-left:-$moveBy2; margin-top:$moveBy2;}
  37.5%  {margin-left:0px; margin-top:-$moveBy2;}
  50.0%  {margin-left:0px; margin-top:$moveBy2;}
  62.5%  {margin-left:$moveBy2; margin-top:-$moveBy2;}
  75.0%  {margin-left:-$moveBy2; margin-top:0;}
  87.5%  {margin-left:$moveBy2; margin-top:$moveBy2;}
  100%   {margin-left:0px; margin-top:$moveBy2;}
}
// @-webkit-keyframes chgop {
//   0%   {opacity: 1.0}
//   100% {opacity: 0.6}
// }


@media (max-width: 950px) {
  .header {
    .row {
      width: 100%;
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding: 0 !important;
    }
    .logo {
      margin-left: 15px;
    }
    .harp {
      margin-top: -160px;
    }
    .your-chords {
      // font-size: 12px;
      height: 80px;
      width: 170px;
      // margin-top: 15px;
      margin-right: 15px;
      .chord {
        margin: -5px 5px 0 5px;
      }
    }
    .project-list {
      display: none;
      // margin-left: 20px;
      // margin-top: 30px;
      // width: 210px;
      // background-color: $black;
      // border-radius: 10px;
      // padding: 10px;
      // p {
      //   font-size: 12px;
      // }
      p {
        margin-left: 25px;
      }
    }
    .project-list-mobile-container {
      display: block;
    }
    .project-list-mobile {
      display: block;
    }
    .right-button {
      display: block !important;
    }
  }
}

@media (max-width: 830px) {
  .header {
    .harp {
      width: 80%;
    }
    .row {
      margin-right: 0 !important;
      margin-left: 0 !important;
      padding: 0 !important;
      .col-xs-2 {
        margin-top: -100px !important;
      }
    }
    .your-chords {
      font-size: 12px;
      height: 70px;
      width: 140px;
    }
    // .project-list {
    //   margin-left: 20px;
    //   margin-top: 30px;
    //   width: 210px;
    //   background-color: $black;
    //   border-radius: 10px;
    //   padding: 10px;
    //   p {
    //     font-size: 12px;
    //   }
    // }
  }
  .project-list-mobile-container {
    margin-top: -70px;
  }
}

@media (max-width: 680px) {
  .header {
    .harp {
      width: 100%;
      .string {
        border-width: 4px;
      }
    }
  }
}


@media (max-width: 470px) {
  .header {
    .harp-circle-background {
      background-image: url('../img/home_screen_mobile_background_2.png');
      background-size: cover;
      background-repeat: no-repeat;
    }
  }
}

@media (max-width: 450px) {
  .header {
    .logo {
      width: 100px;
      margin-top: 10px;
    }
    .harp {
      width: 116%;
      margin-left: -8%;
    }
    .your-chords {
      font-size: 11px;
      height: 60px;
      width: 120px;
      // margin-top: 10px;
      .color-indicator.chord {
        height: 25px !important;
        width: 8px !important;
      }
      p {
        margin-top: 7px;
      }
    }
  }
  // .project-list-mobile-container {
  //   margin-top: -50px;
  // }
}


@media (max-height: 455px) {
  .harp {
    position: absolute;
    top: 0;
    margin-top: 0;
    left: 25%;
    .string {
      height: 105vh;
    }
  }
}

// @media (max-width: 450px) and (max-height: 660px) {
//   .project-list-mobile-container {
//     margin-top: -45px;
//   }
// }
//
// @media (max-width: 450px) and (max-height: 600px) {
//   .project-list-mobile-container {
//     margin-top: -40px;
//   }
// }
//
// @media (max-width: 450px) and (max-height: 550px) {
//   .project-list-mobile-container {
//     margin-top: -35px;
//   }
// }
//
// @media (max-height: 500px) {
//   .project-list-mobile-container {
//     width: 100vw;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//   }
// }
//
// @media (min-width: 500px) {
//   .project-list-mobile-container {
//     width: 100vw;
//     position: absolute;
//     bottom: 0;
//     left: 0;
//   }
// }
