@import url('https://fonts.googleapis.com/css?family=Nunito:600');

.project {
  width: 100vw !important;
  min-height: 100vh;
  // position: absolute;
  // top: 0;
  // left: 0;
  // padding-top: 20px;
  // padding-left: 20px;
  background-color: $black;
  // display: none;
  // opacity: 0;
  overflow: hidden;
  transition: 0.2s;
  p {
    color: #fff;
    // font-size: 60px;
  }
  .navbar {
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    background:
        -webkit-linear-gradient(rgba(53, 53, 53, 1), rgba(20, 20, 20, 1));
    background:
        -o-linear-gradient(rgba(53, 53, 53, 1), rgba(20, 20, 20, 1));
    background:
        linear-gradient(rgba(53, 53, 53, 1), rgba(20, 20, 20, 1));
    .logo-project {
      margin-left: 20px !important;
      margin-top: 10px !important;
      img {
        width: 80%;
      }
    }
    .close-button {
      font-family: 'Nunito', sans-serif;
      color: #fff;
      font-size: 50px;
      position: absolute;
      top: -10px;
      right: 20px;
    }
  }
  .project-info {
    padding: 20px 15px 40px 15px;
    margin-top: 60px;
    background: #2a2a2a;
    color: $white;
    .row {
      width: 80%;
      margin: 0 auto;
    }
    .light-gray {
      color: $light-gray;
    }
    .title h1 {
      font-size: 32px;
      font-family: $condensed-font;
      letter-spacing: 1px;
    }
  }
  .project-images {
    width: 100vw;
    img {
      width: 100%;
      margin-top: 12px;
    }
  }
}

.about {
  background-image: url('../img/about_desktop_background.png');
  background-size: cover;
  background-position: left;
  background-repeat: no-repeat;
  .text-container {
    padding-top: 120px;
    width: 80%;
    margin: 0 auto;
    min-width: 290px;
    .title {
      color: $white;
      font-family: $condensed-font;
      font-size: 40px;
      letter-spacing: 2px;
    }
    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      li {
        display: inline-flex;
        margin: 8px;
        background-color: $black;
        height: 50px;
        width: 50px;
        text-align: center;
        border-radius: 50%;
        a, a:visited {
          color: $white;
          text-decoration: none;
          font-size: 27px;
          display: block;
          margin: 0 auto;
          margin-top: 7px;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .about {
    .text-container {
      padding-top: 60px;
    }
  }
}

.artwork {
  .art {
    min-height: 400px;
    background-size: cover;
    margin-top: 15px;
  }
  .art-1 {
    background-image: url('../img/artwork/artwork_1.jpg');
  }
  .art-2 {
    background-image: url('../img/artwork/artwork_2.jpg');
  }
  .art-3 {
    background-image: url('../img/artwork/artwork_3.jpg');
  }
  .art-4 {
    background-image: url('../img/artwork/artwork_4.jpg');
  }
  .art-5 {
    background-image: url('../img/artwork/artwork_5.jpg');
  }
  .art-6 {
    background-image: url('../img/artwork/artwork_6.jpg');
  }
  .art-7 {
    background-image: url('../img/artwork/artwork_7.jpg');
    min-height: 500px;
  }
  .art-8 {
    background-image: url('../img/artwork/artwork_8.jpg');
    min-height: 500px;
  }
  .art-9 {
    background-image: url('../img/artwork/artwork_9.jpg');
    min-height: 600px;
  }
  .art-10 {
    background-image: url('../img/artwork/artwork_10.jpg');
    min-height: 600px;
  }
}

.artwork {
  .project-images-mobile {
    display: none;
  }
}

.artwork {
  .project-images-desktop {
    display: none;
  }
}

@media (min-width: 992px) {
  .artwork {
    .project-images-desktop {
      display: block !important;
    }
  }
}

@media (max-width: 991px) {
  .artwork {
    .project-images-mobile {
      display: block !important;
    }
  }
}


@media (max-width: 1100px) {
  .project {
    .project-info {
      .row {
        width: 100%;
      }
    }
  }
}




.visible {
  // display: block;
  // opacity: 1;
  // transition: 0.2s;
}
