
// ******
// colors
// ******

$purple: #591f49;
$pink: #902745;
$red: #c63643;
$orange: #eb5a3a;
$yellow: #ecb730;
$black: #000;
$white: #fff;
$dark-gray: #242424;
$light-gray: #a2a2a2;

// $dark-purple: #270d20;
// $dark-pink: #5b192b;
// $dark-red: #762028;
// $dark-orange: #cc3615;
// $dark-yellow: #b68811;


// *****
// fonts
// *****

$main-font: 'Futura Medium';
$bold-font: 'Futura Bold';
$light-font: 'Futura Light';
$condensed-font: 'Futura Condensed';
