
// ******
// colors
// ******

$purple: #591f49;
$pink: #902745;
$red: #c63643;
$orange: #eb5a3a;
$yellow: #ecb730;
$black: #000;
$white: #fff;
$dark-gray: #242424;


// *****
// fonts
// *****

$main-font: 'Futura Medium';
$bold-font: 'Futura Bold';
$light-font: 'Futura Light';
